<h1>ok</h1>

<h2>{{ address }}</h2>
{{x}}
<div class="row">
    <h5 class="card-title">{{date1}}</h5>
    <div class="col-6 d-flex"><span class="text">temprature ========></span></div>
    <img class="card-img-top mt-2 " src="http://openweathermap.org/img/wn/{{icon1}}@2x.png" alt="Card image cap">
    
    <div class="col-6 d-flex justify-content-end"> <span class="card-text text">{{temp1}}</span><br></div>
                
    <div class="col-6 d-flex"><span class="text">tempmin ========></span></div>
    <div class="col-6 d-flex justify-content-end"><span class="card-text text">{{tempmin1}}</span>  <br>    </div>
                
    <div class="col-6  d-flex"><span class="text">tempmax ========></span></div>
    <div class="col-6 d-flex justify-content-end" ><span class="card-text text">{{tempmax1}}</span>   </div>

    <p class="mt-1">{{ description1 }}</p>                 
</div> 
<div class="row">
    <h5 class="card-title">{{date2}}</h5>                    
    <img class="card-img-top mt-2 " src="http://openweathermap.org/img/wn/{{icon2}}@2x.png" alt="Card image cap">

    <div class="col-6 d-flex"><span class="text">temprature ========></span></div>
    <div class="col-6 d-flex justify-content-end"> <span class="card-text text">{{temp2}}</span><br></div>
                
    <div class="col-6 d-flex"><span class="text">tempmin ========></span></div>
    <div class="col-6 d-flex justify-content-end"><span class="card-text text">{{tempmin2}}</span>  <br>    </div>
                
    <div class="col-6  d-flex"><span class="text">tempmax ========></span></div>
    <div class="col-6 d-flex justify-content-end" ><span class="card-text text">{{tempmax2}}</span>   </div>

    <p class="mt-1">{{ description2 }}</p>                 
</div> 
<div class="row">
    <h5 class="card-title">{{date3}}</h5>                    
    <img class="card-img-top mt-2 " src="http://openweathermap.org/img/wn/{{icon2}}@2x.png" alt="Card image cap">

    <div class="col-6 d-flex"><span class="text">temprature ========></span></div>
    <div class="col-6 d-flex justify-content-end"> <span class="card-text text">{{temp3}}</span><br></div>
                
    <div class="col-6 d-flex"><span class="text">tempmin ========></span></div>
    <div class="col-6 d-flex justify-content-end"><span class="card-text text">{{tempmin3}}</span>  <br>    </div>
                
    <div class="col-6  d-flex"><span class="text">tempmax ========></span></div>
    <div class="col-6 d-flex justify-content-end" ><span class="card-text text">{{tempmax3}}</span>   </div>

    <p class="mt-1">{{ description3 }}</p>                 
</div> 